body{
  margin: 0;
  background-color: #d7fffd;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.employee{

  width: 100px;
  height: 100px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}
@keyframes example {
  0%   {background-color:red; left:0; top:0;}
  25%  {background-color:yellow; left:100px; top:0px;}
  50%  {background-color:blue; left:100px; top:100px;}
  75%  {background-color:green; left:0; top:100px;}
  100% {background-color:red; left:0; top:0;}
}

.profilephoto{
  height:100px;
  width:100px;
}
h1{
  font-size: 3.2rem;
  width: 10%;
  margin:0 auto 0 auto;
  color: #588da8;
}
h2{
  font-size: 2rem;
  color: #0779e4;
}
h3{
  font-size: 1.5rem;
  color: #18b0b0;
}
hr{
  border:dotted #035aa6;
  border-bottom: none;
  width:5%;
}
.p{
  line-height: 0.5;
}

.top-container{
  padding-top: 50px;
  margin: 0;
  font-size: 30px;
}
.middle-container{
  font-size: 1.5rem;
}
.listen{
  width:20%;
  float:left;
  margin-left:40px;
}
.chess{
  width:30%;
  float:left;
  margin-right:20px;
}
.convo{
  width: 30%;
  float:right;
  margin-right:40px;
}
.skill{
  border:dotted #035aa6;
  border-bottom: none;
  width:3%;
}
.btn {
	-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989) );
	background:-moz-linear-gradient( center top, #2e466e 5%, #415989 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989');
	background-color:#2e466e;
	-webkit-border-top-left-radius:17px;
	-moz-border-radius-topleft:17px;
	border-top-left-radius:17px;
	-webkit-border-top-right-radius:17px;
	-moz-border-radius-topright:17px;
	border-top-right-radius:17px;
	-webkit-border-bottom-right-radius:17px;
	-moz-border-radius-bottomright:17px;
	border-bottom-right-radius:17px;
	-webkit-border-bottom-left-radius:17px;
	-moz-border-radius-bottomleft:17px;
	border-bottom-left-radius:17px;
text-indent:0;
	border:1px solid #1f2f47;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #263666;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e) );
	background:-moz-linear-gradient( center top, #415989 5%, #2e466e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e');
	background-color:#415989;
}.btn:active {
	position:relative;
	top:1px;
}
.middle-container{
  padding-top: 0;
}
.skill-row1{
  width:50%;
  margin:100px auto;
  line-height: 2;
}
.profile{
  padding-bottom: 75px;

}
.skills{
  padding-top: o;
  padding-bottom: 0;
}

.bottom-container{
  background-color: #66BFBF;
}
